<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout Site</title>
    <link rel="icon" href="images/favicon.png" type="image/png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/custom.css">

    <script data-require="angular.js@1.4.2" data-semver="1.4.2" src="https://code.angularjs.org/1.4.2/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/timer.js"></script>
  </head>

	<body>
    <div class="container" ng-app="myApp" ng-controller="myCtrl">
      <h1 class="page-header">Workout Timer</h1>
        <form role="form" action="#">
          <div class="row">
            <div class="form-group">
              <div class="col-xs-6 col-sm-4">
                <label for="minutes">Minutes:</label>
                <input type="number" ng-model="minutesEntered" class="form-control" id="minutes" placeholder="Number of minutes">
              </div>

              <div class="col-xs-6 col-sm-4">
                <label for="seconds">Seconds:</label>
                <input type="number" ng-model="secondsEntered" class="form-control" id="seconds" placeholder="Number of seconds">
              </div>
            </div>
          </div>
        </form>

        <button class="btn btn-success" ng-click="startTimer()" ng-disabled="timerRunning">Start Timer</button>
        <button class="btn btn-danger" ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>
        
        <div id="timer">
          <h1><timer interval="1000" countdown="countdown" max-time-unit="'minute'" autostart="false">{{mminutes}}:{{sseconds}}</timer></h1>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>

</html>