<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout Site</title>
    <link rel="icon" href="images/favicon.png" type="image/png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/custom.css">

    <!-- Angular Timer directive -->
    <script type="text/javascript" src="scripts/angular-timer/angular-timer-bower.js"></script>
    <script type="text/javascript" src="scripts/angular-timer/angular-timer-all.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
  </head>

	<body ng-app="MyApp">

	<!--Note: Consider overlaying the form on top of a jumbotron-->
	<!-- Wrap everything inside of the form tags -->
	<!-- Give all input elements .form-control -->

		<div class="container" ng-controller="MyAppController">
  		<h1 class="page-header">Workout Timer</h1>
    	<form role="form" action="#">
      	<div class="row">
        	<div class="form-group">
        		<div class="col-xs-6 col-sm-4">
            	<label for="minutes">Minutes:</label>
            	<input type="number" class="form-control" id="minutes" placeholder="Number of minutes">
          	</div>
          	<div class="col-xs-6 col-sm-4">
              <label for="seconds">Seconds:</label>
              <input type="number" class="form-control" id="seconds" placeholder="Number of seconds">
            </div>
					</div>
				</div>
				<button class="btn btn-success" ng-click="startTimer()" ng-disabled="timerRunning">Start Timer</button>
        <button class="btn btn-danger" ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>
			</form>
			<h1>Countdown: <timer countdown="120" max-time-unit="'minute'" interval="1000">{{mminutes}} minute{{minutesS}}:{{sseconds}} second{{secondsS}}</timer></h1>
		</div>



		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>

</html>